



<div class="filterDiv food">
<%= link_to store.name, store_path(store) %>
<div class="store__actions">
  <%= button_to "Delete",
                store_path(store),
                method: :delete,
                class: "btn btn--light" %>
  <%= link_to "Edit",
              edit_store_path(store),
              class: "btn btn--light" %>
</div>
</div>